{% extends 'layout.twig' %}

{% block body %}
	<div class="main-container">
		<h1 class="title-header">{{ title }}</h1>
		<div class="card card-user">
			<form id="form_edit" class="d-flex">
				<div class="row">
			    	<div class="col-sm-4">
						<i class="bi bi-person avatar"></i>
						<div class="card-body">
							<h5 class="card-title">Info</h5>
							<p class="card-text">
								Some quick example text to build on the card
								title and make up the bulk of the card's content.
							</p>
						</div>	
					</div>
			    	<div class="col-sm-8">
						<div class="form-group">
							<div class="input-group mb-2">
				                <div class="input-group-prepend">
				                    <div class="input-group-text">
										<i class="bi bi-person"></i>
									</div>
				                </div>
				                <input class="form-control" name="name"  value="{{ user.name }}" type="text">
				            </div>					
							<div class="input-group mb-2">
				                <div class="input-group-prepend">
				                    <div class="input-group-text">
										<i class="bi bi-person-badge"></i>
									</div>
				                </div>
				                <input class="form-control" name="user" value="{{ user.user }}" type="text">
				            </div>
							<div class="input-group mb-2">
				                <div class="input-group-prepend">
				                    <div class="input-group-text">
										@
									</div>
				                </div>
				                <input class="form-control" name="email" value="{{ user.email }}" type="text">
				            </div>
							<div class="input-group mb-2">
				                <div class="input-group-prepend">
				                    <div class="input-group-text">
										<i class="bi bi-key"></i>
									</div>
				                </div>
				                <input class="form-control" name="password" value="{{ user.password }}" type="text">
				            </div>
							<div class="input-group mb-2">
				                <div class="input-group-prepend">
				                    <div class="input-group-text">
										<i class="bi bi-hash"></i>
									</div>
				                </div>
				                <input class="form-control" name="matricula" value="{{ user.matricula }}" type="text">
				            </div>
							<div class="input-group mb-2">
								<button class="btn btn-success disable" type="submit" name="btn">Update</button>
				            </div>
						</div>
					</div>
			  	</div>
		  	</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>const user_id = {{ user.id }}</script>
	<script src="/javascripts/edit.js"></script>
{% endblock %}
