<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" /> {#
    <link rel="stylesheet" href="/stylesheets/dashboard.css" /> #}
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="no-transitions">
    <div class="container-fluid">
        <div class="row">
            {% block header %}
            <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-center" href="/">
                    <i class="bi bi-bar-chart-line-fill"></i>
                    <span class="home-text">ADR</span>
                </a>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
                <ul class="navbar-nav px-3 list-inline">
                    {% if user != null %}
                    <li class="list-inline-item text-nowrap">
                        <a class="nav-link" href="/upload">
                            <i class="bi bi-upload"></i>
                        </a>
                    </li>
                    <li class="list-inline-item text-nowrap">
                        <a class="nav-link" href="/user">
										{{ user.user }}
									</a>
                    </li>
                    <li class="list-inline-item text-nowrap">
                        <a class="nav-link" href="/api/logout">Sign out</a>
                    </li>
                    {% else %}
                    <li class="list-inline-item text-nowrap">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="list-inline-item text-nowrap">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </header>
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <span data-feather="home"></span>Analisis de remisiones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span> Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span> Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span> Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span> Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span> Integrations
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span> Current month</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span> Last quarter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span> Social engagement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span> Year-end sale</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> {% block body %}{% endblock %}
            </main>

        </div>
    </div>
    <footer class="mt-auto text-white-50 bg-dark">
        {% block footer %}
        <p>
            <a href="/register">Register</a>
        </p>
        {% endblock %}
    </footer>

    <script>
        (function() {
            const urlParams = new URLSearchParams(window.location.search);
            const is_eruda = urlParams.get('eruda');
            // if (is_eruda === "true") {
            document.write('<script src="/eruda.js"><\/script>');
            document.write('<script>eruda.init({ autoScale: true, defaults: {theme:"Dark" }});<\/script>');
            // }
        })();
    </script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/feather.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>