{% extends 'layout.twig' %}

{% block body %}
	<div class="main-container">
		<h1 class="title-header">{{ title }}</h1>
		{% if message %}
			<div class="alert alert-danger" role="alert">
				<h4 class="alert-heading">
					<i class="bi bi-check-circle-fill"></i>
					User login error !
				</h4>
				<p>{{ message }}</p>
			</div>			
        {% endif %}		
		<form action="api/login" method="POST">
			<div class="form-group row">
	            <div class="input-group mb-2">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">
							<i class="bi bi-person"></i>
						</div>
	                </div>
	                <input type="text" class="form-control" name="user" placeholder="Username">
	            </div>
	   		</div>
			<div class="form-group row">
	            <div class="input-group mb-2">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">
							<i class="bi bi-key"></i>
						</div>
	                </div>
					<input type="password" class="form-control" name="password" placeholder="Password">
	            </div>
	      	</div>
			<div class="form-group row">
				<div class="input-group mb-2">
					<button type="submit" class="w-100 btn btn-primary">Sign in</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
