{% extends 'layout.twig' %}

{% block body %}
	<div class="main-container">
		<h1 class="title-header">{{ title }}</h1>
		{% if is_reg_error %}
			<div class="alert alert-danger d-flex align-items-center" role="alert">
				<i class="bi bi-check-circle-fill"></i>
				<div>Error to register !</div>
			</div>			
        {% endif %}
		<form action="api/register" method="POST">
			<div class="form-group row">
	            <div class="input-group mb-2">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">
							<i class="bi bi-person-badge"></i>
						</div>
	                </div>
					<input type="text" name="name" class="form-control" id="inputName" placeholder="Name" /> 
	            </div>
	      	</div>
			<div class="form-group row">
	            <div class="input-group mb-2">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">
							<i class="bi bi-person"></i>
						</div>
	                </div>
					<input type="text" name="user" class="form-control" id="inputUser" placeholder="User" /> 
	            </div>
	      	</div>
			<div class="form-group row">
	            <div class="input-group mb-2">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">
							@
						</div>
	                </div>
					<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" /> 
	            </div>
	      	</div>
			<div class="form-group row">
	            <div class="input-group mb-2">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">
							<i class="bi bi-key"></i>
						</div>
	                </div>
					<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" />
	            </div>
	      	</div>
			<div class="form-group row">
	            <div class="input-group mb-2">
	                <div class="input-group-prepend">
	                    <div class="input-group-text">
							<i class="bi bi-hash"></i>
						</div>
	                </div>
					<input type="text" name="matricula" class="form-control" id="inputMatricula" placeholder="Matricula" />
	            </div>
	      	</div>
		  	<div class="form-group row">
				<div class="input-group mb-2">
					<button type="submit" class="w-100 btn btn-primary">Sign in</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
