{% extends 'layout.twig' %}

{% block body %}
	<div class="main-container">
		<h1 class="title-header">{{ title }}</h1>
		{% if is_upload %}
			<div class="alert alert-success d-flex align-items-center" role="alert">
				<i class="bi bi-check-circle-fill"></i>
				<div>
					Uploaded file success !</div>
			</div>
		{% endif %}
		<form method="POST" action="/upload" enctype="multipart/form-data">
			<div class="form-group">
				<div class="input-group mb-2">
					<div class="input-group-text">
						<i class="bi bi-file-text-fill"></i>
					</div>
					<input class="form-control" type="file" name="document"/>
					<input class="btn btn-success disable" type="submit"/>
				</div>
			</div>
		</form>
		<h4 class="title-header">Reload last upload file</h4>
		<a class="btn btn-primary" href="/upload/last">
			<i class="bi bi-arrow-repeat"></i>
			<span>reload last</span>
		</a>
	</div>
{% endblock %}
