{% extends 'layout.twig' %}

{% block body %}
	<div class="main-container">
		<h1 class="title-header">{{ title }}</h1>
		<div class="card card-user">
			<div class="row">
		    	<div class="col-sm-4">
					<i class="bi bi-person avatar"></i>
					<div class="card-body">
						<h5 class="card-title">Info</h5>
						<p class="card-text">
							Some quick example text to build on the card
							title and make up the bulk of the card's content.
						</p>
					</div>	
				</div>
		    	<div class="col-sm-8">		
					<div class="form-group">
						<div class="input-group mb-2">
			                <div class="input-group-prepend">
			                    <div class="input-group-text">
									<i class="bi bi-person-badge"></i>
								</div>
			                </div>
			                <p class="form-control">{{ user.name }}</p>
			            </div>
						<div class="input-group mb-2">
			                <div class="input-group-prepend">
			                    <div class="input-group-text">
									<i class="bi bi-person"></i>
								</div>
			                </div>
			                <p class="form-control">{{ user.user }}</p>
			            </div>
						<div class="input-group mb-2">
			                <div class="input-group-prepend">
			                    <div class="input-group-text">
									@
								</div>
			                </div>
			                <p class="form-control">{{ user.email }}</p>
			            </div>
						<div class="input-group mb-2">
			                <div class="input-group-prepend">
			                    <div class="input-group-text">
									<i class="bi bi-key"></i>
								</div>
			                </div>
			                <p class="form-control">{{ user.password }}</p>
			            </div>
						<div class="input-group mb-2">
			                <div class="input-group-prepend">
			                    <div class="input-group-text">
									<i class="bi bi-hash"></i>
								</div>
			                </div>
			                <p class="form-control">{{ user.matricula }}</p>
			            </div>
						<div class="input-group mb-2">
							<a href="/edit" class="btn btn-warning">Edit</a>
			            </div>
		            </div>
				</div>
		  	</div>
		</div>
	</div>
{% endblock %}
