.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 50px 0 0;
    background-color: #212529;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sidebar {
        top: 20px;
    }
}

.card-header {
    background-color: #343a40;
    border-bottom: 1px solid #333;
}

#form_save input {
    background-color: #343a40;
    border: 1px solid #444;
    color: #fff;
}

#form_save button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#form_save .form-control:focus {
    box-shadow: none;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #ccc;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    background-color: rgba(0, 0, 0, 0.4);
    ;
    top: 0.25rem;
    right: 1rem;
}

.navbar .navbar-toggler.collapsed {
    background: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-group .input-group-text,
.form-group .form-control,
.form-group .btn {
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}