body {
    background: #000;
    font-family: var(--bs-font-sans-serif);
    font-size: 14px;
    position: relative;
    color: #dee2e6;
}

body.no-transitions * {
    transition: none!important;
}

body.no-transitions .fade-in {
    opacity: 1;
    transition: opacity 2s!important;
}

.hidden {
    display: none;
}

.faded {
    opacity: 0;
}

.navbar .navbar-brand {
    min-height: 46px;
}

.navbar .navbar-brand .bi-house {
    margin-right: 10px;
}

.navbar-nav {
    display: block;
}

.navbar-nav .list-inline-item {
    margin-left: 20px;
}

.navbar .navbar-brand {
    padding: 4px;
}

.navbar .navbar-brand .bi,
.navbar .navbar-brand .home-text {
    display: inline-block;
    font-size: 24px;
}

.navbar .navbar-brand .home-text {
    letter-spacing: 2px;
    margin-left: 6px;
    font-size: 16px;
}

main {
    padding-top: 20px;
    padding-bottom: 40px;
}

main .title-header {
    border-bottom: 1px solid #999;
    color: #dee2e6;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

main .main-container {
    margin: 0 auto 60px;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

main .btn-toolbar {
    margin-top: 20px;
    min-height: 30px;
}

main .btn-toolbar select {
    border: 0;
    cursor: pointer;
    min-height: 28px;
    outline: none;
}

main .btn-toolbar .btn:hover,
main .btn-toolbar #date-select select:hover {
    background: none;
    color: #6c757d;
}

main #date-select {
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
}

main #date-select .feather {
    margin-right: 4px;
}

main #date-select select {
    border-left: 1px solid #6c757d;
    padding-left: 6px;
    background: none;
    color: #6c757d;
    margin: 0;
}

main #date-select select[name="year"] {
    border-left: 0;
    padding-left: 0;
}

main #legend-container {
    margin-bottom: 20px;
    margin-top: 30px;
    min-height: 22px;
    overflow: hidden;
}

main #chart-container {
    background: url(../loading.gif) no-repeat center;
    margin-bottom: 30px;
}

main #appChart {
    display: block;
    max-height: 480px;
    width: 100%;
}

main .alert .bi {
    font-size: 24px;
    margin-right: 15px;
}

footer {
    background: #191c1f;
    border-top: 1px solid #333;
    bottom: 0;
    height: 40px;
    left: 0;
    overflow: hidden;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    z-index: 200;
}

button,
.button {
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #777;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 1.1;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
}

button:hover,
.button:hover {
    border-color: #cdd;
}

.share-button,
.copy-link {
    border: 1px solid #666;
    padding-right: 30px;
    padding-left: 30px;
    background: #333;
}

.share-dialog {
    background: #212529;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    display: none;
    left: 50%;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    top: 300px;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: -1;
}

.share-dialog svg {
    height: 20px;
    margin-right: 10px;
    width: 20px;
}

.share-dialog.is-open,
.share-overlay.is-open {
    display: block;
    z-index: 99999;
}

body.is-open {
    overflow: hidden;
}

.share-dialog header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.share-dialog .dialog-title {
    color: #6c757d;
}

.share-dialog .targets {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px;
}

.share-dialog .close-button {
    background: none;
    border: none;
    padding: 0;
}

.share-dialog .close-button svg {
    margin-right: 0;
}

.share-dialog .link {
    background: #444;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.share-dialog #sha-url {
    margin-right: 15px;
    background: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 60%;
    color: #eee;
    border: 0;
}

.share-overlay {
    background: #000;
    position: fixed;
    display: none;
    opacity: 0.8;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.card-user {
    color: #333;
}

.card-user .bi-person.avatar {
    display: block;
    font-size: 140px;
    line-height: 1px;
    text-align: center;
}

.card-user .input-group .form-control {
    color: #999;
    border: 0;
    margin: 0;
}

.card-user .form-group {
    border-left: 1px solid #ccc;
    padding: 20px;
}

.card-user .form-group .input-group-text {
    background: #ccc;
}

.card-user #form_edit .form-control {
    border: 1px solid #ccc;
}

.feather {
    height: 16px;
    vertical-align: text-bottom;
    width: 16px;
}

.sidebar {
    background: #212529;
    bottom: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    left: 0;
    padding: 50px 0 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

.card-header {
    background: #343a40;
    border-bottom: 1px solid #333;
}

#form_save input {
    background: #343a40;
    border: 1px solid #444;
    color: #fff;
}

#form_save button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.sidebar-sticky {
    height: calc(100vh-48px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: .5rem;
    position: relative;
    top: 0;
}

.sidebar .nav-link {
    color: #ccc;
    font-weight: 500;
}

.sidebar .nav-link .feather {
    color: #727272;
    margin-right: 4px;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.navbar .navbar-toggler {
    background: rgba(0, 0, 0, 0.4);
    right: 1rem;
    top: .25rem;
}

.navbar .form-control {
    border-radius: 0;
    border-width: 0;
    padding: .75rem 1rem;
}

.form-group .input-group-text,
.form-group .form-control,
.form-group .btn {
    outline: none;
    border-radius: 0;
    box-shadow: none;
}

.form-control-dark {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width: 768px) {
    .navbar-nav {
        margin-right: 80px;
    }
    .navbar .navbar-brand .home-text {
        /* display: none; */
        /* font-size: 26px; */
    }
    main .main-container {
        max-width: 100%!important;
    }
    .sidebar {
        top: 20px;
    }
    .card-user .form-group {
        border-top: 1px solid #ccc;
        border-left: 0;
    }
}
